@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}


.todo-item {
}

.done {
  animation-name: stretch;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes stretch {
  0% {
    border-radius: 100%;
  }
  100% {
    background-color: transparentize(lightgrey, 0.6);
  }
}


.strike {
  text-decoration: line-through;
}

.todo-action-flex {
  display: flex;
  flex-direction: row;
}

.todo-delete-icon {

  display: flex;
  justify-content: center;
  align-items: center;

  color: transparentize(black, 0.6);

  :hover {
    color: black;
  }
}
