body {
  text-align: center;
  background-color: #282c34;
}

.TodoTable {
  min-height: 50vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
